
.header { 
    display: flex;
    justify-content: space-evenly;
}
.footer {
position: fixed;
justify-content: center;
bottom: 0%;
left: 1%;
padding: 15px;
}
#buttoncontainer {
    font-size: 15px;
    background-color: pink;
    color: black;
    border: 1px solid black;
    font-family:'Times New Roman', Times, serif;
    padding: 10px;
}
#h1 {
    background-color: pink;
    color:black;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
    border: solid 2px;
    padding: 15px;
    width: 500px;
}

#body { 
    display: flex;
    justify-content: space-evenly;
}

#image { 
    width: 350px;
}
.buttons {
    display:flex;
    justify-content: space-evenly;
}

#createacc {
text-align: center;
background-color: pink;
color: black;
border: 1px solid black;
font-family:'Times New Roman', Times, serif;
box-sizing: border-box;
width: 250px;
padding: 15px;
}

#startswipe {
text-align: center;
background-color: pink;
color: black;
border: 1px solid black;
font-family:'Times New Roman', Times, serif;
box-sizing: border-box;
width: 250px;
padding: 15px;
}
.formcontainer {
    display: flex;
    justify-content: center;
}
#form {
    position: absolute;
    justify-content: space-evenly;
    
}

input {
    border: none;
    border-bottom: 2px solid pink;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
}

input[type=submit] {
    font-size: 20px;
    background-color: pink;
    color: black;
    border: 1px solid black;
    font-family:'Times New Roman', Times, serif;
    padding: 10px;
    width: 100%;
}
.textcontainer {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid pink;
}
#congrats {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

#imagecompleted {
    position: absolute;
    left: 42%;
    width: 210px;
}

#containerswipe {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
#swipebuttons {
    display: flex;
    justify-content: space-evenly;
}
.swiped {
text-align: center;
background-color: pink;
color: black;
border: 1px solid black;
font-family:'Times New Roman', Times, serif;
box-sizing: border-box;
width: 250px;
padding: 15px;

}

.firstname {
    font-family: 'Times New Roman', Times, serif;
    color: pink;
}
.jsswipe {
    display: none;
}
.jsvisible {
    display:block;
}

.container-rated {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid pink;
}

#rated {
    font-family: 'Times New Roman', Times, serif;

}