.header { 
    display: flex;
    justify-content: space-evenly;
    
}
#h1 {
    background-color: pink;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
    border: solid 2px;
    padding: 15px;
    width: 500px;
}

#body { 
    display: flex;
    justify-content: space-evenly;
}

#image { 
    border: solid 2px;
    width: 550px;
}


